<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <h2>Movon</h2>
          <br>
          <p>
            It is the first mobile app in the Philippines that provides the easiest and smartest way to book bus tickets with guaranteed seats.

          </p>
          <p>
            You can search for your destination and choose from a wide choice of bus services based on your preferred bus operator, departure times, prices, bus types, pickup &amp; drop off points. Choose seats &amp; pay securely using credit card, debit card and through thousands of over-the-counter payment centres across the Philippines.
          </p>
          <p>
            Book your bus tickets now anytime and anywhere through your mobile phone - MovOn !
          </p>
        </div>
      </div>
    </div>
  </div> 
</template>

<style scoped>
  .container{
    min-height: 65vh
  }

  p{
    font-size: 1.3em;
    text-align: justify
  }
</style>

