<template>
    <div class="page-container">
        <!-- bloc -->
        <div class="bloc bg-camera-overlay bgc-white l-bloc b-parallax" id="bloc-5">
            <div class="container bloc-xxl">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="mg-md text-center">
                        <u>Contact Us</u>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- bloc END -->
        <!-- bloc -->
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="company-details">
                        <h1>AHD</h1>
                        <h1>Advance Communication Systems Inc.</h1>
                        <br>
                        <p> <i class="fas fa-map-marker"></i> Dolmar Gold Tower Bldg, 107 Don Carlos Palanca,Legazpi Village, Makati, 1229 Metro Manila
                        </p>
                        <p> <i class="fas fa-phone"></i> (02) 840 2643 / (02) 659 678</p>
                        <p> <i class="fas fa-envelope"></i>support@movon.ph</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1623.6718340800783!2d121.01905320195556!3d14.555472833806132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c90e53facdf7%3A0x8ff3926bea1424bd!2sDolmar+Gold+Tower+Building%2C+107+Don+Carlos+Palanca%2C+Legazpi+Village%2C+Makati%2C+Metro+Manila!5e0!3m2!1sfil!2sph!4v1496731651750" class="iframe-map"></iframe>
                </div>
            </div>
        </div>
        <!-- bloc END -->
        <!-- bloc -->
        <div class="bloc l-bloc bgc-white" id="bloc-6">
        <div class="container bloc-lg">
            <div class="row">
            <div class="col-sm-12">
                <form id="form_2" novalidate>
                <div class="form-group">
                    <label>
                    Name
                    </label>
                    <input id="name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>
                    Email
                    </label>
                    <input id="email" class="form-control" type="email" required />
                </div>
                <div class="form-group">
                    <label>
                    Message
                    </label><textarea id="message" class="form-control" rows="4" cols="50" required></textarea>
                </div> 
                <button class="bloc-button btn btn-d btn-lg btn-block" type="submit">
                    Submit
                </button>
                </form>
            </div>
            </div>
        </div>
        </div>
        <!-- bloc END -->
        <!-- ScrollToTop Button -->
        <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
        <!-- ScrollToTop Button END-->
    </div>
</template>

<style scoped>
    .company-details {
        min-height: 515px;
        padding: 50px
    }
    .company-details p {
        font-size: 1.4em;
        color : #666
    }
    .company-details p i{
        color: #009688;
        margin-right: 10px
    }
    .iframe-map {
        pointer-events: none;
        border: 0;
        width: 100%;
        min-height: 515px;
    }
</style>
