<template>
    <div class="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Frequently Asked Questions</h2>
                    <br/>
                    <div 
                        class="questions" 
                        v-for="question in questions" 
                        :key="question.body"
                        @click="togglePanel">
                        
                        <button class="accordion">{{ question.body }}</button>
                        <div class="panel">
                            <ul>
                                <li v-for="answer in question.answer" :key="answer" >{{ answer }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FAQs from '@/data/faq.js';

export default {
    data(){
        return {
            questions : []
        }
    },
    created: function() {
        this.questions = FAQs;
    },
    methods : {
        togglePanel : function(e) {
            console.log(e.target)
        }
    }
}
</script>

<style>
.accordion {
  background-color: #009688;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #4DB6AC;
}

.panel {
  padding: 20px;
  background-color: white;
}
</style>
