<template>
  <div class="page-container">
    <!-- bloc -->
    <div class="bloc bg-map-overlay bgc-white l-bloc b-parallax" id="bloc-1">
      <div class="container bloc-xxl">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="mg-md text-center">
              Book your Tickets
            </h1>
            <h2 class="mg-md text-center sub-title">Easier. Smarter.</h2>
            <ul class="download-app">
              <li>
                  <a class="play-store-container" href='https://play.google.com/store/apps/details?id=com.icon.movon.passenger&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                      <img class="play-store" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                  </a>
              <li>
                  <a class="app-store-container" href="https://itunes.apple.com/us/app/movon-transport-logistics/id1446721175?mt=8">
                      <img class="app-store" alt="Download on the App Store" src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-02-22&kind=iossoftware&bubble=ios_apps">
                  </a>
              </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc END -->

    <!-- bloc -->
    <div class="bloc bgc-white bg-citysky d-bloc b-parallax" id="bloc-2">
      <div class="container bloc-lg">
        <div class="row">
          <div class="col-md-6">
            <div class="blocsapp-device-iphone5 iphone-space-grey">
              <img :src="slideData.img" class="img-responsive" />
              <img src="../assets/img/Apple-iPhone-5s-Space-Gray2.png" class="img-responsive phone-overlay" />
            </div>
          </div>
          <div class="col-md-6 feature-caption">
            <div class="app-feature-list" v-html="slideData.text"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- bloc END -->
    
    <div class="row section-3">
      <div class="col-md-6">
        <div>
          <div class="logo-container">
            <img class="img-responsive left-logo" :src="require('../assets/logo2.png')" />
          </div>
          <div class="paragraph-container">
            <p>MovOn is the first mobile app in the Philippines that provides the easiest and smartest way to book bus tickets with guaranteed seats.</p>
            <br/>
            <p>You can search for your destination and choose from a wide choice of bus services based on your preferred bus operator, departure times, prices, bus types, pickup & drop off points. Choose seats & pay securely using credit card, debit card and through thousands of over-the-counter payment centres across the Philippines.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="v-container">
          <iframe src="https://www.youtube.com/embed/pZjhSKjOe_Q" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
      </div>
    </div>
    
    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->
  </div>
</template>

<script>
  export default {
    data(){
      return {
        index: 0,
        slideData: {},
        slider: [
          {
            img: './screens/f1.png',
            text: `<h2 class="mg-lg device-bloc-text-vc ff">Book your ticket with easy to use simple interface.</h2>`
          },
          {
            img: './screens/f2.png',
            text: `<h2 class="mg-lg device-bloc-text-vc ff">Book a seat of your choice with real time update.</h2>`
          },
          {
            img: './screens/f3.png',
            text: `<h2 class="mg-lg device-bloc-text-vc ff">Get e-ticket for your confirmed booking.</h2>`
          },
          {
            img: './screens/f4.png',
            text: `<h2 class="mg-lg device-bloc-text-vc ff">Live tracking of your journey.</h2>`
          },
          {
            img: './screens/f5.png',
            text: `<h2 class="mg-lg device-bloc-text-vc ff">View your past and upcomming tikcets</h2>`
          }
        ]
      }
    },
    mounted: function(){
      this.changeSlider();
    },
    destroyed: function(){
      clearInterval(this.changeSlider)
    },
    methods: {
      changeSlider: function(){
        this.slideData = this.slider[0];
        setInterval(()=>{
          this.slideData = this.slider[this.index];
          this.index = this.index <= 3 ? this.index+=1 : 0;
        },5000)
      }
    }
  }
</script>


<style scoped>
@import url('https://fonts.googleapis.com/css?family=Yesteryear');

  .sub-title{
    font-size: 3.6em;
    font-family: 'Yesteryear', cursive;
  }

  .phone-overlay{
    position: absolute;
    top: 0px;
    width: 384px;
  }
  
  .app-feature-list{
    text-align: center;
    animation: captionFade 5s ease-in-out infinite;
  }

  .paragraph-container{
    color: #fff;
    padding: 50px 60px;
    font-size: 2rem
  }

  .logo-container{
    display: flex;
    justify-content: center;
    background: #333
  }

  .left-logo{
    background: #333;
    height: 200px;
  }

  .v-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }

  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .section-3{
    background: #333
  }

  .section-3 > div{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: justify;
    padding: 0px;
  }

  .blocsapp-device-iphone5{
    overflow: hidden;
  }

  @keyframes captionFade {
    0% { 
      position: relative;
      top: 0px;
      opacity: 0;
    }

    25% {
      opacity: 1;
    }

    85% {
      top:0px
    }

    100% {
      opacity: 0;
      top: -150px
    }
  }

  .landing{
    height: 100vh;
  }

  .bg-citysky{
    background-image:url('../assets/img/citysky.jpg');
  }
  
  .bg-map-overlay{
    background-image:url('../assets/img/map-overlay.png');
  }

  .bg-camera-overlay{
    background-image:url('../assets/img/camera-overlay.png');
  }

  .download-app {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center
  }

  .download-app li a{
    display: block;
  }

  .download-app li a img.play-store{
    width: 240px
  }

  .download-app li a img.app-store{
    width: 220px
  }

  .app-store-container{
    padding: 12px 0px
  }

  @media only screen and (max-width: 425px) {
    .phone-overlay{
      width: 210px
    }
  }

  @media only screen and (max-width: 420px){

    #bloc-1{
      min-height: 65vh
    }

    .download-app{
      margin-bottom: 20px
    }

    .download-app li a img.play-store{
      width: 160px;
    }

    .download-app li a img.app-store{
      width: 140px
    }

    .app-store-container{
      padding: 10px 0px
    }
  }
</style>
