<template>
    <div class="privacy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div v-html="privacy"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import privacy from '@/data/privacy.js';

export default {
    data(){
        return {
            privacy : ''
        }
    },
    created: function() {
        this.privacy = privacy;
    }
}
</script>

<style>

</style>
