<template>
    <div class="terms">
        <div class="container">
            <div class="col-md-12 card">
                <div v-html="terms"></div>
            </div>
        </div>
    </div>
</template>

<script>
import terms from '@/data/toc.js';
import cancellation from '@/data/cancellation.js';

export default {
    data(){
        return {
            terms : '',
            cancellation : ''
        }
    },
    created: function() {
        this.terms = terms;
        this.cancellation = cancellation;
    }
}
</script>

<style>

</style>
