<template>
    <div class="footer">
        <div class="bloc bgc-teal">
            <div class="container bloc-sm">
                <div class="footer-1 row">
                    <div class="col-md-3">
                        <h4>Movon</h4>
                    </div>

                    <div class="col-md-3">
                        <h4>Site Map</h4>
                        <nav class="footer-nav">
                            <ul>
                                <li>
                                    <router-link to="/about" class="tc-white">About</router-link>
                                </li>
                                <li>
                                    <router-link to="/toc" class="tc-white">Terms and Conditions</router-link>
                                </li>
                                <li>
                                    <router-link to="/privacy" class="tc-white">Privacy Policy</router-link>
                                </li>
                                <li>
                                    <router-link to="/faq" class="tc-white">FAQ's</router-link>
                                </li>
                                <li>
                                    <router-link to="/contact-us" class="tc-white">Contact Us</router-link>
                                </li>
                            </ul>
                        </nav>    
                    </div>

                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <nav class="footer-nav">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/movonphilippines/" target="_blank" class="tc-white"> <i class="fab fa-facebook-square"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="#" class="tc-white"> <i class="fab fa-twitter-square"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="#" class="tc-white"> <i class="fab fa-instagram"></i> Instagram</a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCsba_6AmduCrz8mLB_S6-jg" target="_blank" class="tc-white"> <i class="fab fa-youtube-square"></i> Youtube</a>
                                </li>
                            </ul>
                        </nav>    
                    </div>

                    <div class="col-md-3">
                        <h4>Download</h4>
                        <nav class="footer-nav">
                            <ul>
                                <li>
                                    <a href='https://play.google.com/store/apps/details?id=com.icon.movon.passenger&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                        <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="height:60px;"/>
                                    </a>
                                <li>
                                    <a href="https://itunes.apple.com/us/app/movon-transport-logistics/id1446721175?mt=8" style="padding: 10px">
                                        <img src="https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-02-22&kind=iossoftware&bubble=ios_apps" alt="">
                                    </a>
                                </li>
                            </ul>
                        </nav>    
                    </div>
                </div>
            </div>
        </div>
        <div class="bloc footer-2">
            <div class="container bloc-sm">
                &copy; 2019 Movon | movon.com.ph | AHD Advance Communication Systems Inc.
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Footer'
}
</script>

<style scoped>
    h4{
        color: #fff
    }

    ul{
        list-style: none;
        padding: 0px
    }

    .footer-2{
        background: #333;
        color: #fff;
        text-align: center
    }

    @media only screen and (max-width: 823px){
        .footer{
            text-align: center
        }

        .footer-1>div{
            margin-bottom: 25px
        }
    }
</style>
