<template>
    <div class="bloc bgc-teal l-bloc " id="bloc-0">
        <div class="container bloc-sm">
            <nav class="navbar row">
                <div class="navbar-header">
                    <router-link class="navbar-brand" to="/"><img src="../assets/logo2.png" alt="logo"/></router-link>
                    <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-1">
                    <ul class="site-navigation nav navbar-nav">
                        <li>
                            <router-link to="/" class="tc-white">Home</router-link>
                        </li>
                        <li>
                            <router-link to="/about" class="tc-white">About Us</router-link>
                        </li>
                        <li>
                            <router-link to="/toc" class="tc-white">Terms and Conditions</router-link>
                        </li>
                        <li>
                            <router-link to="/privacy" class="tc-white">Privacy Policy</router-link>
                        </li>
                        <li>
                            <router-link to="/faq" class="tc-white">FAQ's</router-link>
                        </li>
                        <li>
                            <router-link to="/contact-us" class="tc-white">Contact Us</router-link>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Navigation'
}
</script>

<style scoped>
   
</style>