<template>
  <div id="app">
    <div class="page-container">
      <Navigation/>
      <router-view/>
      <Footer/>
    </div> 
  </div>
</template>

<script>
  import Navigation from './components/Navigation.vue'
  import Footer from './components/Footer.vue'

  export default {
    components: {
      Navigation,
      Footer
    }
  }
</script>
